<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiur.admin.mapper.UserMapper">

    <insert id="insert" parameterType="user">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null and uid != ''">
                uuid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="perms != null">
                perms,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="face != null">
                face,
            </if>
            <if test="desc != null">
                desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null and uid != ''">
                #{uuid},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="perms != null">
                #{perms},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="face != null">
                #{face},
            </if>
            <if test="desc != null">
                #{desc},
            </if>
        </trim>
    </insert>

    <select id="query" parameterType="user" resultType="user">
        <if test="username != null and password != null">
            select uid, username, password, name, face, address, lastLoginAddress, `desc`, registerDate, lastLoginDate, perms
            from user
            where username = #{username}
            and password = #{password}
            and deleted = false
        </if>
    </select>

    <select id="queryAll" resultType="user">
        select uid, username, password, name, face, address, lastLoginAddress, `desc`, registerDate, lastLoginDate, perms
        from user
        where deleted = false
    </select>

    <select id="queryByPage" resultType="user" parameterType="page">
        <choose>
            <when test="pageLike != null or pageLink != ''">
                select uid, username, password, name, face, address, `desc`, registerDate, lastLoginDate, lastLoginAddress, perms
                from user
                where username
                like #{pageLike}
                and deleted = false
                order by uid
                limit #{pageRow}, #{pageCount};
            </when>
            <otherwise>
                select uid, username, password, name, face, address, `desc`, registerDate, lastLoginDate, lastLoginAddress, perms
                from user
                where deleted = false
                order by uid
                limit #{pageRow}, #{pageCount};
            </otherwise>
        </choose>
    </select>

    <select id="getTotal" resultType="int">
        <choose>
            <when test="like != null">
                select count(*) from user where username like #{like} and deleted = false
            </when>
            <otherwise>
                select count(*) from user where deleted = false
            </otherwise>
        </choose>
    </select>

    <delete id="delete" parameterType="int">
        delete from user
        where uid = #{uid}
    </delete>

    <update id="update" parameterType="user">
        update user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="perms != null">
                perms = #{perms},
            </if>
            <if test="face != null">
                face = #{face},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="lastLoginDate != null">
                lastLoginDate = #{lastLoginDate},
            </if>
            <if test="lastLoginAddress != null">
                lastLoginAddress = #{lastLoginAddress},
            </if>
            <if test="deleted != null and deleted">
                deleted = #{deleted},
            </if>
        </set>
        where uid = #{uid}
    </update>

</mapper>